<h2>staff details</h2>

Name:{{user.staff.staff_name}}<br>
Email:{{user.staff.staff_email}}<br>
Department:{{user.staff.staff_department}}<br>
Mobile:{{user.staff.staff_phone}}<br>
Experiance:{{user.staff.experiance}}<br>
Qualification:{{user.staff.qualification}}<br>
Photo:<img src="{{user.staff.photo.url}}" style="height:100px"><br>
<br>

<a href="/students/staff_logout/">logout</a><br>
<a href="/students/total_staff/">Staff List</a><br>
<a href="/students/total_students/">Student List</a><br>
