

{% if staff %}
 <table border="1">
     <thead>
 <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Email Id</th>
            <th>Phone</th>
            <th>Qualification</th>
            <th>Experiance</th>
 </tr>
     </thead>
       <tbody>
 {% for each in staff %}
 <tr>
           <td>{{each.staff_name}}</td>
           <td>{{each.staff_department}}</td>
           <td>{{each.staff_email}}</td>
           <td>{{each.staff_phone}}</td>
            <td>{{each.qualification}}</td>
            <td>{{each.experiance}}</td>
 </tr>
 {% endfor %}
 {% else %}
           <h3>No data available</h3>
{% endif %}

       </tbody>



 </table>
<a href="/students/staff_details/">back</a><br>
<a href="/students/staff_logout/">Logout</a><br>